body {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.flex-box,
.grid-box {
  list-style: none;
}

.flex-box > li > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.grid-box > li > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.container-box {
  display: flex;
  flex-direction: column;
}
